In [279]:
import requests

In [280]:
import pandas as pd

In [281]:
apikey=pd.read_csv('apikey.txt',header=None)

In [282]:
df=pd.DataFrame(index=['36005035800','36005036400','36005036800','36005038200','36005038600','36005046000','36005046202','36005048400'],columns=['001E','003E','005E','006E','007E','008E','009E','011E','012E','013E','014E','015E','016E','017E','018E','019E','020E','021E'])

In [283]:
rs=requests.get('https://api.census.gov/data/2017/acs/acs5?get=NAME,group(B08301)&for=tract:*&in=state:36 county:005&key='+apikey.loc[0,0]).json()

In [284]:
rs=pd.DataFrame(rs)

In [285]:
rs.columns=rs.loc[0]

In [286]:
rs=rs.loc[1:].set_index('GEO_ID')

In [287]:
for i in df.index:
    for j in df.columns:
        df.loc[i,j]=pd.to_numeric(rs.loc['1400000US'+i,'B08301_'+j])

In [288]:
df.columns=['TOTAL','CAR1','CAR2','CAR3','CAR4','CAR56','CAR7+','BUS','STREETCAR','SUBWAY','RAILROAD','FERRY','TAXI','MOTORCYCLE','BICYCLE','WALKED','OTHER','HOME']

In [289]:
df.loc['STUDY AREA']=df.sum(axis=0)

In [292]:
df.loc['STUDY AREA%']=df.loc['STUDY AREA']/df.loc['STUDY AREA','TOTAL']

In [293]:
df

,TOTAL,CAR1,CAR2,CAR3,CAR4,CAR56,CAR7+,BUS,STREETCAR,SUBWAY,RAILROAD,FERRY,TAXI,MOTORCYCLE,BICYCLE,WALKED,OTHER,HOME
36005035800,3738.0,1400.000000,82.00000,114.000000,97.000000,0.000000,0.000000,462.000000,0.000000,1210.000000,47.000000,0.0,57.000000,0.0,46.000000,183.000000,0.000000,40.000000
36005036400,1212.0,405.000000,74.00000,29.000000,0.000000,20.000000,0.000000,67.000000,48.000000,435.000000,54.000000,0.0,0.000000,0.0,0.000000,40.000000,14.000000,26.000000
36005036800,949.0,409.000000,50.00000,0.000000,0.000000,0.000000,0.000000,229.000000,0.000000,241.000000,14.000000,0.0,0.000000,0.0,0.000000,6.000000,0.000000,0.000000
36005038200,1118.0,438.000000,32.00000,12.000000,0.000000,0.000000,0.000000,152.000000,10.000000,364.000000,11.000000,0.0,0.000000,0.0,0.000000,69.000000,29.000000,1.000000
36005038600,3831.0,1282.000000,98.00000,0.000000,21.000000,0.000000,0.000000,615.000000,0.000000,1646.000000,0.000000,0.0,17.000000,0.0,0.000000,120.000000,32.000000,0.000000
36005046000,981.0,210.000000,127.00000,11.000000,0.000000,0.000000,0.000000,227.000000,0.000000,251.000000,28.000000,0.0,0.000000,0.0,17.000000,110.000000,0.000000,0.000000
36005046202,2992.0,972.000000,121.00000,0.000000,9.000000,0.000000,17.000000,526.000000,0.000000,831.000000,202.000000,0.0,0.000000,0.0,0.000000,166.000000,0.000000,148.000000
36005048400,2169.0,903.000000,125.00000,21.000000,44.000000,0.000000,0.000000,271.000000,0.000000,526.000000,102.000000,0.0,10.000000,0.0,0.000000,143.000000,0.000000,24.000000
STUDY AREA,16990.0,6019.000000,709.00000,187.000000,171.000000,20.000000,17.000000,2549.000000,58.000000,5504.000000,458.000000,0.0,84.000000,0.0,63.000000,837.000000,75.000000,239.000000
STUDY AREA%,1.0,0.354267,0.04173,0.011006,0.010065,0.001177,0.001001,0.150029,0.003414,0.323955,0.026957,0.0,0.004944,0.0,0.003708,0.049264,0.004414,0.014067