In [236]:
import requests

In [237]:
import pandas as pd

In [238]:
apikey=pd.read_csv('apikey.txt',header=None)

In [239]:
df=pd.DataFrame(index=['36005035800','36005036400','36005036800','36005038200','36005038600','36005046000','36005046202','36005048400'],columns=['001E','003E','005E','006E','007E','008E','009E','011E','012E','013E','014E','015E','016E','017E','018E','019E','020E','021E'])

In [240]:
rs=requests.get('https://api.census.gov/data/2017/acs/acs5?get=NAME,group(B08301)&for=tract:*&in=state:36 county:005&key='+apikey.loc[0,0]).json()

In [241]:
rs=pd.DataFrame(rs)

In [242]:
rs.columns=rs.loc[0]

In [243]:
rs=rs.loc[1:].set_index('GEO_ID')

In [244]:
for i in df.index:
    for j in df.columns:
        df.loc[i,j]=rs.loc['1400000US'+i,'B08301_'+j]

In [246]:
df.columns=['TOTAL','CAR1','CAR2','CAR3','CAR4','CAR56','CAR7+','BUS','STREETCAR','SUBWAY','RAILROAD','FERRY','TAXI','MOTORCYCLE','BICYCLE','WALKED','OTHER','HOME']

In [247]:
df.loc['STUDY AREA']=

,TOTAL,CAR1,CAR2,CAR3,CAR4,CAR56,CAR7+,BUS,STREETCAR,SUBWAY,RAILROAD,FERRY,TAXI,MOTORCYCLE,BICYCLE,WALKED,OTHER,HOME
36005035800,3738,1400,82,114,97,0,0,462,0,1210,47,0,57,0,46,183,0,40
36005036400,1212,405,74,29,0,20,0,67,48,435,54,0,0,0,0,40,14,26
36005036800,949,409,50,0,0,0,0,229,0,241,14,0,0,0,0,6,0,0
36005038200,1118,438,32,12,0,0,0,152,10,364,11,0,0,0,0,69,29,1
36005038600,3831,1282,98,0,21,0,0,615,0,1646,0,0,17,0,0,120,32,0
36005046000,981,210,127,11,0,0,0,227,0,251,28,0,0,0,17,110,0,0
36005046202,2992,972,121,0,9,0,17,526,0,831,202,0,0,0,0,166,0,148
36005048400,2169,903,125,21,44,0,0,271,0,526,102,0,10,0,0,143,0,24